@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  height: 100%;
}

.ibg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.main-screen__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 30px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu li {
  padding: 0 37.5px;
  position: relative;
}

.menu li:nth-child(2) {
  padding: 0px 110px 0px 37.5px;
}

.menu li:nth-child(3) {
  padding: 0px 37.5px 0px 110px;
}

.menu li:after {
  content: "";
  width: 2px;
  height: 2px;
  background: #4d4959;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  margin: -1px 0px 0px 0px;
}

.menu li:nth-child(2):after, .menu li:last-child:after {
  display: none;
}

.menu__link {
  color: #4d4959;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  position: relative;
}

.menu__link:after {
  content: "";
  height: 1px;
  width: 0;
  background-color: #4d4959;
  position: absolute;
  bottom: -3px;
  left: 0;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}

.menu__link:hover:after {
  width: 100%;
}

@media (max-width: 767px) {
  .menu__body {
    width: 100%;
    height: 100%;
    background-color: #4d4959;
    position: fixed;
    top: -100%;
    left: 0;
    overflow: auto;
    padding: 150px 0 20px 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .menu__body.active {
    top: 0;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu li {
    padding: 0px 0px 45px 0px;
  }
  .menu li:nth-child(2), .menu li:nth-child(3) {
    padding: 0px 0px 45px 0px;
  }
  .menu li:nth-child(2):after, .menu li:nth-child(3):after {
    display: block;
  }
  .menu li:last-child {
    padding: 0;
  }
  .menu li:after {
    width: 4px;
    height: 4px;
    background: #fff;
    top: 40px;
    right: 50%;
    margin: 0px -2px 0px 0px;
  }
  .menu__link {
    color: #fff;
    font-size: 20px;
  }
  .menu__link:after {
    content: '';
    background-color: #fff;
  }
}

/*    бургер   */
@media (max-width: 767px) {
  .icon-menu {
    width: 30px;
    height: 18px;
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 5;
    cursor: pointer;
  }
  .icon-menu span {
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    top: 8px;
    left: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    width: 80%;
    top: auto;
    bottom: 0;
  }
  .icon-menu.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #fff;
  }
  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }
  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
    width: 100%;
  }
}

/*    конец бургер    */
.about {
  background-color: #f7f7f7;
  padding: 120px 0px;
}

@media (max-width: 900px) {
  .about {
    padding: 60px 0;
  }
}

@media (max-width: 600px) {
  .about {
    padding: 30px 0;
  }
}

.block {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

.block__icon {
  margin-bottom: 30px;
}

.block__title {
  color: #353738;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.block__text {
  color: #848789;
  line-height: 1.88;
}

.block__text--j {
  text-align: justify;
  font-size: 16px;
}

.block__text--j:after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  margin: 35px auto 0;
  background-color: #ebebeb;
}

@media (max-width: 1500px) {
  .block__text--j:after {
    margin: 15px auto 0;
  }
}

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1100px) {
  .brands__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.brands__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.brands__column--big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
}

.brands__content {
  padding: 70px 65px 55px 65px;
  position: relative;
}

.brands__content::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  z-index: 2;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

@media (max-width: 1500px) {
  .brands__content {
    padding: 40px 35px 25px 35px;
  }
}

.brands__image {
  padding: 0px 0px 37.51% 0px;
}

.item {
  height: 100%;
  display: block;
  position: relative;
}

.item__logo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(101, 195, 159, 0.5);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.item__logo span {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.item__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1500px) {
  .item {
    padding: 0px 0px 70% 0px;
  }
}

.slider {
  padding: 120px 0 60px;
}

@media (max-width: 900px) {
  .slider {
    padding: 80px 0px 40px;
  }
}

@media (max-width: 600px) {
  .slider {
    padding: 30px 0px 40px;
  }
}

.slider__item {
  text-align: center;
}

.slider__icon {
  margin-bottom: 35px;
}

.slider__title {
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.slider__title span {
  color: #848789;
  font-weight: 300;
}

.slider__text {
  color: #848789;
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
}

.shop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop__footer {
  padding: 75px 0;
  background-color: #282f35;
  text-align: center;
}

@media (max-width: 1100px) {
  .shop__footer {
    padding: 50px 0;
  }
}

@media (max-width: 600px) {
  .shop__footer {
    padding: 30px 0;
  }
}

.shop__btn {
  display: inline-block;
  padding: 15px 60px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  background-color: #282f35;
  border: 1px solid #fff;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.shop__btn:hover {
  color: #282f35;
  background-color: #f7f7f7;
}

@media (max-width: 1100px) {
  .shop__btn {
    padding: 15px 45px;
  }
}

.shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
}

@media (max-width: 1100px) {
  .shop__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

.shop__column--b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

@media (max-width: 1100px) {
  .shop__column--b {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.block-shop {
  height: 100%;
}

.block-shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.block-shop__item {
  height: auto;
  padding: 0px 0px 50% 0px;
}

.block-shop__item--l {
  padding: 0px 0px 100% 0px;
}

.block-shop__item--b {
  padding: 0px 0px 200.3% 0px;
}

.subscribe__body {
  padding: 110px 0;
  max-width: 523px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 767px) {
  .subscribe__body {
    padding: 50px 0;
  }
}

@media (max-width: 600px) {
  .subscribe__body {
    padding: 30px 0;
  }
}

.subscribe__logo {
  margin-bottom: 35px;
}

.subscribe__label {
  margin-bottom: 35px;
  font-size: 24px;
  color: #848789;
  font-style: italic;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 550px) {
  .subscribe__form {
    display: block;
  }
}

.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 8px;
}

@media (max-width: 550px) {
  .subscribe__input {
    padding: 0px 0px 8px 0px;
  }
}

.subscribe__input input {
  width: 100%;
  height: 69px;
  padding: 0 28px;
  font-size: 20px;
  color: #929292;
  font-style: italic;
  border: 1px solid #d3d7d9;
  background-color: #fff;
}

.subscribe__input input:focus {
  color: #333;
  font-style: normal;
  border-color: #333;
}

.subscribe__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 126px;
          flex: 0 0 126px;
}

.subscribe__btn {
  width: 100%;
  height: 69px;
  line-height: 69px;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  background-color: #64c29e;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.subscribe__btn:hover {
  background-color: #4d9177;
}

.footer {
  background-color: #f7f7f7;
}

.footer__row {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1100px) {
  .footer__row {
    padding: 50px 0;
  }
}

@media (max-width: 600px) {
  .footer__row {
    padding: 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
}

.footer__address {
  font-size: 16px;
  color: #848789;
  font-weight: 400;
  line-height: 18px;
}

.footer__address p:first-child {
  font-weight: 700;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .footer__social {
    margin: 15px 0;
  }
}

.footer__dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #848789;
  font-style: italic;
}

.social__link {
  margin: 0px 7.5px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.social__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.dev__text {
  font-size: 14px;
  color: #848789;
  font-style: italic;
  margin-right: 10px;
}
@media (max-width: 600px) {
.footer__social {
	margin: 15px 0; } }
  .footer__dev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    color: #848789;
    font-style: italic; }

.social__link {
  margin: 0px 7.5px;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in; }
  .social__link:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.dev__text {
  font-size: 14px;
  color: #848789;
  font-style: italic;
  margin-right: 10px; }
